.large-container {
    background: #A31621;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.movie-container {
    background: white;
    flex: 0 1 180px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
}

.button1 {
    margin-right: 130px;
    margin-bottom: 8px;
    
}

.button2 {
    border-radius: 2px;
    background: #A31621;
    border: 1px solid darkgray;
    color: white;
    padding: 6px 10px;
    font-family: 'Oswald', sans-serif;

}

.box1 {
    margin-bottom: 10px;
}

.box2 {
    font-size: 15px;
    margin-bottom: 2px;
    color: black;
}

.box3, .box4, .rating {
    font-size: 13px;
    color: black
}

.movie-container label {
    display: block;
    width: 50px;
    cursor: pointer;
    background: #ccc;
    margin-right: 50px;
}

.movie-container label:before {
    content:'\f005';
    font-family: fontAwesome;
    display: block;
    position: absolute;
    font-size: 50px;
}

.movie-container label:after {
    color: red; 
}

#heart, #cry, #laugh, #thumbs-up {
    padding: 10px;
    font-size: 18px;
}